.text{
    background-color: #f1f1f1;
    border: 5px ridge black;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 600px;
}
.white{
    width: 100%;
    height: 40px;
}
.info{
    background-color: #f1f1f1;
    height: 80px;
    border: 2px solid #e9e9e9

}
nav{
    background-color: black;
}
*{
    word-break: break-all;
  
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
}
.headimg{
    border-radius:100%;
}
.progress{
    border: 1px solid black;
}